@mixin z-index($layer) {
  $layers: (base, header, preview, top-button);
  z-index: index($layers, $layer);
}

@mixin remove-shadow {
  //&:active,
  //&:focus,
  //&.active,
  //&:focus:active {
  //  background-image: none;
  //  outline: 0;
  //  -webkit-box-shadow: none;
  //  box-shadow: none;
  //}
}