%container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 $common-padding;
}

%clearfix {
  &:after {
    clear: both;
    content: '';
    display: block;
  }

  &:before {
    clear: both;
    content: '';
    display: block;
  }
}