//fonts
$main-font: 'Roboto', sans-serif;

//colors
$main-color: #DAA520;
$secondary-color: #58b193;
//$third-color: #294057;
$third-color: #80a6ad;
$menu-bg-color: #fffcf7;
$input-color: #536678;

//madia queries
$phones: 600px;
$tablet: 768px;

//paddings
$common-padding: 20px;
$border-radius: 5px;
$line-height: 1.3em;