@import "variables";
@import "mixins";
@import "base";
@import "placeholders";
@import "components/nav";
@import "components/background";
@import "components/slider";
@import "components/quote-part";
@import "components/about-me";
@import "components/about-work";
@import "components/social-links";
@import "components/contact";
@import "components/footer";
@import "components/map";
@import "components/icons";
@import "components/filter";
@import "components/colors";
@import "components/price-range";
@import "components/fabrics";
@import "components/sizes";
@import "components/products";
@import "components/blog";
@import "components/modal-box";
@import "components/preview";
@import "components/shopping-list";
@import "components/back-to-top";
@import "components/address-data";
@import "components/form";
@import "components/cart";
@import "components/shipping-address";
@import "components/purchase-details";