* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.nav__wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px; }

.nav__wrapper:after {
  clear: both;
  content: '';
  display: block; }
.nav__wrapper:before {
  clear: both;
  content: '';
  display: block; }

.nav {
  position: relative; }
  .nav:after {
    z-index: 1;
    background-color: white;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
  .nav__logo {
    z-index: 2;
    float: left;
    margin: 30px 0 20px 0;
    text-transform: uppercase;
    color: #DAA520;
    position: relative;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 25px; }
  .nav__button {
    z-index: 2;
    float: right;
    margin: 20px;
    padding: 10px;
    background-color: #58b193;
    border-radius: 5px;
    color: white;
    border: none;
    outline: none;
    font-size: 17px;
    cursor: pointer;
    position: relative; }
    .nav__button--active {
      background-color: #80a6ad; }
  .nav__basket {
    z-index: 2;
    float: right;
    position: relative;
    background: url("../images/images.png");
    background-size: cover;
    width: 70px;
    height: 70px;
    filter: hue-rotate(272deg);
    cursor: pointer; }
  .nav__basket-amount {
    position: relative;
    left: 46%;
    top: 50%;
    color: white; }
  .nav__menu {
    list-style-type: none;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background-color: #fffcf7;
    transform: translateY(-100%);
    transition: transform 1s; }
  .nav__menu-item {
    padding: 20px;
    cursor: pointer;
    transition: 1s; }
    .nav__menu-item--active {
      background-color: #58b193; }
      .nav__menu-item--active .nav__menu-link {
        color: white; }
  .nav__menu-link {
    text-decoration: none;
    padding: 20px;
    text-transform: capitalize;
    color: #DAA520;
    font-family: "Roboto", sans-serif;
    font-weight: 600; }
    .nav__menu-link:hover {
      color: #80a6ad; }
    .nav__menu-link--active:hover {
      color: white; }

.visible {
  transform: translateY(80px); }

.background__photo {
  background-size: cover;
  width: 100%;
  height: 450px;
  background-position: 50%; }
  .background__photo--home {
    background-image: url("../images/home-page-bg.jpg"); }
  .background__photo--contact {
    background-image: url("../images/contact.jpg"); }
  .background__photo--shop {
    background-image: url("../images/shop.jpg"); }

.slider {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px; }
  .slider__wrapper {
    min-height: 350px;
    overflow: hidden; }
  .slider__title {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #80a6ad;
    text-transform: uppercase;
    margin-bottom: 40px; }
  .slider__items {
    max-width: 450px;
    margin: 0 auto;
    position: relative; }
  .slider__slide {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; }
    .slider__slide--active {
      opacity: 1; }
  .slider__dots {
    position: relative;
    top: 0;
    margin-top: 20px; }
  .slider__dot {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #DAA520;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer; }
    .slider__dot--active {
      background-color: #80a6ad; }
  .slider__button {
    position: relative;
    top: 0;
    border: 3px solid #58b193;
    background-color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    transition: 1s; }
    .slider__button:hover {
      background-color: #80a6ad;
      color: white;
      border-color: #80a6ad; }

.quote-part {
  background-color: #80a6ad;
  text-align: center;
  color: white;
  padding: 40px;
  line-height: 1.3em;
  font-size: 20px;
  font-family: "Roboto", sans-serif; }

.about-me__photo {
  width: 100%; }
.about-me__info {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0 20px; }
.about-me__title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #58b193;
  font-family: "Roboto", sans-serif;
  font-size: 30px; }
.about-me__text {
  text-align: center;
  line-height: 1.3em;
  font-family: "Roboto", sans-serif; }

.about-work {
  text-align: center;
  margin-bottom: 40px; }
  .about-work__photo {
    width: 100%; }
  .about-work__info {
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 0 20px; }
  .about-work__title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #DAA520;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: bold; }
  .about-work__text {
    text-align: center;
    line-height: 1.3em;
    font-family: "Roboto", sans-serif; }
  .about-work__button {
    border: 3px solid #80a6ad;
    background-color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    transition: 1s; }
    .about-work__button:hover {
      background-color: #58b193;
      color: white;
      border-color: #58b193; }

.social-links {
  background-color: #80a6ad;
  text-align: center;
  padding: 20px 0; }
  .social-links__item {
    display: inline-block;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: relative;
    vertical-align: middle;
    transition: 1s; }
    .social-links__item:hover {
      background-color: #DAA520; }
      .social-links__item:hover .social-links__link {
        color: white; }
  .social-links__link {
    text-decoration: none;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    cursor: pointer;
    transition: 1s;
    font-size: 20px; }

.contact {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0 40px;
  text-align: center; }
  .contact__title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #58b193;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: bold; }
  .contact__input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #DAA520;
    border-radius: 5px;
    outline: none;
    color: #80a6ad;
    font-family: "Roboto", sans-serif;
    font-size: 20px; }
    .contact__input::placeholder {
      color: #536678; }
  .contact__button {
    border: none;
    background-color: #DAA520;
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    transition: 1s; }
    .contact__button:hover {
      background-color: #58b193;
      color: white;
      border-color: #58b193; }

.footer {
  background-color: #80a6ad;
  padding: 20px;
  border-top: 1px solid #DAA520; }
  .footer__text {
    text-align: center;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 14px; }

.map {
  padding: 20px; }
  .map #map {
    max-width: 100%;
    height: 250px; }

.icons {
  text-align: center;
  padding-bottom: 40px;
  background-color: #fffcf7; }
  .icons__wrapper {
    width: 100%;
    font-size: 0; }
  .icons__item {
    width: 40px;
    margin: 20px 0; }
  .icons__text {
    font-size: 15px;
    font-family: "Roboto", sans-serif; }

.filter {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center; }
  .filter__title {
    border: 3px solid #80a6ad;
    background-color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    margin: 20px auto 10px auto;
    cursor: pointer;
    width: 200px;
    text-align: center;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    transition: 1s; }
    .filter__title:hover {
      background-color: #58b193;
      color: white;
      border-color: #58b193; }
  .filter__wrapper {
    max-width: 450px;
    margin: 0 auto;
    background-color: #fffcf7;
    padding: 0 20px;
    display: none; }
    .filter__wrapper--visible {
      display: block; }
  .filter__button {
    border: none;
    background-color: #58b193;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    transition: 1s; }
    .filter__button:hover {
      background-color: #DAA520;
      color: white;
      border-color: #58b193; }

.colors {
  text-align: center;
  position: relative;
  margin-bottom: 10px; }
  .colors__title {
    text-align: left;
    text-transform: capitalize;
    border-bottom: 1px solid #DAA520;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: "Roboto", sans-serif; }
  .colors__input {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    cursor: pointer; }
    .colors__input:before {
      position: absolute;
      content: '';
      width: 30px;
      height: 30px;
      background-color: #fffcf7; }
    .colors__input:checked:after {
      transform: translate(-5%, -5%);
      border: 3px solid #DAA520; }
    .colors__input:after {
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      border-radius: 50%; }
    .colors__input[name='red']:after {
      background-color: red; }
    .colors__input[name='orange']:after {
      background-color: orange; }
    .colors__input[name='blue']:after {
      background-color: navy; }
    .colors__input[name='black']:after {
      background-color: black; }
    .colors__input[name='white']:after {
      background-color: white;
      border: 1px solid black; }
    .colors__input[name='yellow']:after {
      background-color: yellow; }

.price-range {
  text-align: center;
  margin-bottom: 10px;
  padding-top: 20px; }
  .price-range__title {
    text-align: left;
    text-transform: capitalize;
    border-bottom: 1px solid #DAA520;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: "Roboto", sans-serif; }
  .price-range__input {
    width: 60px;
    padding: 5px;
    margin-right: 10px;
    text-align: center;
    outline: none;
    border: 3px solid #58b193;
    border-radius: 5px;
    transition: 1s;
    font-size: 17px;
    font-family: "Roboto", sans-serif; }
    .price-range__input:hover {
      background-color: #DAA520; }

.fabrics {
  text-align: center;
  margin-top: 20px; }
  .fabrics__title {
    text-align: left;
    text-transform: capitalize;
    border-bottom: 1px solid #DAA520;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: "Roboto", sans-serif; }
  .fabrics__input {
    width: 30%;
    height: 40px;
    cursor: pointer;
    text-align: center; }
    .fabrics__input:before {
      position: absolute;
      content: '';
      width: 100px;
      height: 40px;
      background-color: #fffcf7; }
    .fabrics__input:checked:after {
      color: #DAA520;
      font-size: 23px; }
    .fabrics__input:after {
      position: relative;
      width: 100px;
      height: 40px;
      color: #80a6ad;
      font-size: 20px;
      font-family: "Roboto", sans-serif;
      font-weight: bold; }
    .fabrics__input[name='cotton']:after {
      content: 'COTTON'; }
    .fabrics__input[name='denim']:after {
      content: 'DENIM'; }
    .fabrics__input[name='jersey']:after {
      content: 'JERSEY'; }

.sizes {
  text-align: center;
  position: relative; }
  .sizes__title {
    text-align: left;
    text-transform: capitalize;
    border-bottom: 1px solid #DAA520;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: "Roboto", sans-serif; }
  .sizes__input {
    width: 40px;
    cursor: pointer; }
    .sizes__input:before {
      position: absolute;
      content: '';
      width: 40px;
      height: 40px;
      background-color: #fffcf7; }
    .sizes__input:checked:after {
      color: #DAA520;
      font-size: 25px; }
    .sizes__input:after {
      position: relative;
      width: 40px;
      height: 40px;
      top: 25%;
      left: 25%;
      color: #58b193;
      font-size: 20px;
      font-family: "Roboto", sans-serif;
      font-weight: bold; }
    .sizes__input[name='xs']:after {
      content: 'XS'; }
    .sizes__input[name='s']:after {
      content: 'S'; }
    .sizes__input[name='m']:after {
      content: 'M'; }
    .sizes__input[name='l']:after {
      content: 'L'; }

/*# sourceMappingURL=main.css.map */
