.about-me {
  &__photo {
    width: 100%;
  }

  &__info {
    margin-top: $common-padding*2;
    margin-bottom: $common-padding*2;
    padding: 0 $common-padding;
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: $common-padding;
    color: $secondary-color;
    font: {
      family: $main-font;
      size: 30px;
    }
  }

  &__text {
    text-align: center;
    line-height: $line-height;
    font: {
      family: $main-font;
    }
  }
}