.about-work {
  text-align: center;
  margin-bottom: $common-padding*2;

  &__photo {
    width: 100%;
  }

  &__info {
    margin-top: $common-padding*2;
    margin-bottom: $common-padding;
    padding: 0 $common-padding;
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: $common-padding;
    color: $main-color;
    font: {
      family: $main-font;
      size: 30px;
      weight: bold;
    }
  }

  &__text {
    text-align: center;
    line-height: $line-height;
    font: {
      family: $main-font;
    }
  }

  &__button {
    border: 3px solid $third-color;
    background-color: white;
    padding: $common-padding/2 $common-padding;
    text-transform: uppercase;
    margin-top: $common-padding;
    cursor: pointer;
    font: {
      size: 18px;
      family: $main-font;
    }
    transition: 1s;

    &:hover {
      background-color: $secondary-color;
      color: white;
      border-color: $secondary-color;
    }
  }
}