.about-work {
  text-align: center;
  margin-bottom: $common-padding*2;

  @include large-screen {
    margin: 0;
    background-color: $menu-bg-color;
  }

  &__wrapper {
    @include large-screen {
      display: flex;
    }
  }

  &__photo {
    width: 100%;
    background-image: url("../images/thread-1383261_1920.jpg");
    background-size: cover;
    height: 350px;

    @include medium-screen {
      height: 450px;
    }

    @include large-screen {
      width: 50%;
      height: 550px;
      order: 1;
    }
  }

  &__info {
    margin-top: $common-padding*2;
    margin-bottom: $common-padding;
    padding: 0 $common-padding;

    @include large-screen {
      width: 50%;
      align-self: center;
      padding-right: $common-padding*4;
      padding-left: $common-padding*4;
    }
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: $common-padding;
    color: $main-color;
    font: {
      family: $main-font;
      size: 30px;
      weight: bold;
    }

    @include large-screen {
      text-align: right;
    }
  }

  &__text {
    text-align: center;
    line-height: $line-height;
    font: {
      family: $main-font;
    }

    @include large-screen {
      text-align: right;
    }
  }

  &__button {
    display: block;
    border: 3px solid $third-color;
    background-color: white;
    padding: $common-padding/2;
    text-transform: uppercase;
    margin: $common-padding auto;
    outline: none;
    text-decoration: none;
    color: $text-color;
    width: 250px;
    font: {
      size: 18px;
      family: $main-font;
    }
    transition: 1s;

    &:hover {
      background-color: $secondary-color;
      border-color: $secondary-color;
      color: white;
    }

    @include large-screen {
      margin-top: $common-padding*2;
    }
  }

}