.address-data {
  @extend %container;
  margin-top: $common-padding*2;
  margin-bottom: $common-padding;
  padding: 0 $common-padding*3;
  text-align: center;

  &__title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: $common-padding;
    color: $main-color;
    font: {
      family: $main-font;
      size: 30px;
      weight: bold;
    }
  }

  &__information {
    text-align: left;
    text-transform: capitalize;
    margin-bottom: $common-padding;
    font: {
      family: $main-font;
      size: 15px;
    }
  }

  &__go-back-button {
    @extend %button;
    @extend %button-medium;
    @extend %button-secondary;
  }

  &__buy-button {
    @extend %button;
    @extend %button-medium;
  }
}