.back-to-top {

  &__button {
    @include z-index(top-button);
    display: none;
    width: 50px;
    height: 50px;
    background-color: $main-color;
    border-radius: 50%;
    position: fixed;
    bottom: $common-padding*9;
    right: $common-padding;
    cursor: pointer;
    transition: 1s;

    &:hover {
      background-color: $secondary-color;
    }

    i {
      position: relative;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -45%);
      font-size: 20px;
      color: white;
    }

    @include large-screen {
      right: calc(50% - 540px);
    }
  }
}