.background {
  &__photo {
    background-size: cover;
    width: 100%;
    height: 450px;
    background-position: 50%;

    &--home {
      background-image: url("../images/home-page-bg.jpg");
    }

    &--contact {
      background-image: url("../images/contact.jpg");
    }

    &--shop {
      background-image: url("../images/shop.jpg");
    }

    &--blog {
      background-image: url("../images/blog.jpeg");
      background-position: 0;
    }

    &--cart {
      background-image: url("../images/card.jpeg");
    }

    &--form {
      background-image: url("../images/clip.jpg");
    }

  }
}