.blog {
  text-align: center;
  margin-top: $common-padding * 2;
  margin-bottom: $common-padding*2;

  &__title {
    font: {
      family: $main-font;
      size: 30px;
      weight: bold;
    }
    color: $third-color;
    text-transform: uppercase;
    margin-bottom: $common-padding *2;
  }

  &__wrapper {
    text-align: left;
    padding: 0 $common-padding;
    font: {
      family: $main-font;
    }
  }

  &__entry {
    max-width: 450px;
    margin: 0 auto $common-padding*2 auto;
  }

  &__entry-photo {
    width: 100%;
  }

  &__entry-title {
    font: {
      size: 20px;
      weight: bold;
    }
    color: $main-color;
    text-transform: capitalize;
    margin: $common-padding 0 $common-padding/2 0;
  }

  &__entry-date {
    font: {
      size: 15px;
      weight: bold;
    }
    color: $secondary-color;
    text-transform: capitalize;
  }

  &__entry-text {
    margin: $common-padding/2 0 $common-padding 0;
    font-size: 15px;

    &:after {
      content: ' [...]';
    }
  }

  &__button {
    border: none;
    background-color: $main-color;
    border-radius: $border-radius;
    padding: $common-padding/2 $common-padding;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    font: {
      size: 18px;
      family: $main-font;
    }
    transition: 1s;

    &:hover {
      background-color: $secondary-color;
      color: white;
      border-color: $secondary-color;
    }
  }

  &__button-next {
    text-align: center;
    text-transform: uppercase;
    color: $secondary-color;
    padding: $common-padding/2 0;
    cursor: pointer;
    font: {
      size: 18px;
      family: $main-font;
    }
  }

  &__button-next-sign {
    color: $main-color;
    font-size: 20px;
  }
}
