.colors {
  text-align: center;
  position: relative;
  margin-bottom: $common-padding/2;

  &__title {
    text-align: left;
    text-transform: capitalize;
    border-bottom: 1px solid $main-color;
    margin-bottom: $common-padding;
    font: {
      size: 20px;
      family: $main-font;
    }

    @include large-screen {
      font-size: 18px;
    }
  }

  &__input {
    width: 0;

    &:checked + .colors__input-label {
      border: 3px solid $main-color;
    }
  }

  &__input-label {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: $common-padding/2;
    cursor: pointer;
    border-radius: 50%;

    &[for='red'] {
      background-color: red;
    }

    &[for='orange'] {
      background-color: orange;
    }

    &[for='blue'] {
      background-color: navy;
    }

    &[for='black'] {
      background-color: black;
    }

    &[for='white'] {
      background-color: white;
      border: 1px solid black;
    }

    &[for='yellow'] {
      background-color: yellow;
    }
  }
}