.container {
  @extend %container;
  font-size: 0;

  &--form {
    display: none;
    margin-bottom: $common-padding*2;
  }

  &__sidebar {
    @include large-screen {
      display: inline-block;
      width: 32%;
      vertical-align: top;
      min-height: 1px;
    }

    &--form {
      @include large-screen {
        display: inline-block;
        width: 50%;
        vertical-align: middle;
      }
    }
  }

  &__main {
    @include large-screen {
      display: inline-block;
      text-align: center;
      width: 68%;
    }

    &--form{
      @include large-screen {
        display: inline-block;
        vertical-align: middle;
        width: 45%;
        margin-top: $common-padding * 2;
        padding-top: $common-padding;
        text-align: right;
        margin-left: $common-padding*2;
        background-color: $menu-bg-color;
        word-break: break-all;
      }
    }

  }
}
