.fabrics {
  text-align: center;
  margin-top: $common-padding;


  &__title {
    text-align: left;
    text-transform: capitalize;
    border-bottom: 1px solid $main-color;
    margin-bottom: $common-padding;
    font: {
      size: 20px;
      family: $main-font;
    }
  }

  &__input {
    width: 30%;
    height: 40px;
    cursor: pointer;
    text-align: center;

    &:before {
      position: absolute;
      content: '';
      width: 100px;
      height: 40px;
      background-color: $menu-bg-color;
    }

    &:checked {
      &:after {
        color: $main-color;
        font-size: 23px;
      }
    }

    &:after {
      position: relative;
      width: 100px;
      height: 40px;
      color: $third-color;
      font: {
        size: 20px;
        family: $main-font;
        weight: bold;
      }
    }

    &[name='cotton'] {
      &:after {
        content: 'COTTON';
      }
    }

    &[name='denim'] {
      &:after {
        content: 'DENIM';
      }
    }

    &[name='jersey'] {
      &:after {
        content: 'JERSEY';
      }
    }
  }
}