.filter {
  padding-top: $common-padding*2;
  padding-bottom: $common-padding*2;
  text-align: center;
  width: 290px;
  margin: 0 auto;

  &--fixed {
    @include large-screen {
      overflow-y: auto;
      overflow-x: hidden;
      position: fixed;
      top: 0;
    }
  }

  &__title-button {
    border: 3px solid $third-color;
    background-color: white;
    padding: $common-padding/2 $common-padding;
    text-transform: uppercase;
    margin: $common-padding auto $common-padding/2 auto;
    cursor: pointer;
    width: 200px;
    text-align: center;
    font: {
      size: 30px;
      family: $main-font;
    }
    transition: $transition-duration;

    &:hover {
      background-color: $secondary-color;
      color: white;
      border-color: $secondary-color;
    }

    &--active {
      background-color: $secondary-color;
      color: white;
      border-color: $secondary-color;
    }

    @include large-screen {
      pointer-events: none;
    }
  }

  &__title {
    display: none;
    padding: $common-padding/2 $common-padding;
    text-transform: capitalize;
    margin: $common-padding 0 $common-padding/2 0;
    width: 200px;
    text-align: left;
    color: $third-color;
    font: {
      size: 30px;
      family: $main-font;
    }

    @include large-screen {
      display: block;
    }
  }

  &__wrapper {
    max-width: 450px;
    margin: 0 auto;
    background-color: $menu-bg-color;
    padding: 0 $common-padding;
    display: none;

    &--visible {
      display: block;
    }

    @include large-screen {
      display: block;
    }
  }

  &__button {
    @extend %button;
    @extend %button-secondary;
    @extend %hover-alternative;
    margin-right: $common-padding/2;
  }

  &__reset-button {
    @extend %button;
    @extend %hover-alternative;
  }
}