.container {
  @extend %container;
}

.filter {
  margin-top: $common-padding*2;
  margin-bottom: $common-padding*2;
  text-align: center;

  @include large-screen {
    display: inline-block;
    width: 30%;
    vertical-align: top;
  }

  &__title-button {
    border: 3px solid $third-color;
    background-color: white;
    padding: $common-padding/2 $common-padding;
    text-transform: uppercase;
    margin: $common-padding auto $common-padding/2 auto;
    cursor: pointer;
    width: 200px;
    text-align: center;
    font: {
      size: 30px;
      family: $main-font;
    }
    transition: 1s;

    &:hover {
      background-color: $secondary-color;
      color: white;
      border-color: $secondary-color;
    }

    &--active {
      background-color: $secondary-color;
      color: white;
      border-color: $secondary-color;
    }

    @include large-screen{
      display: none;
    }
  }

  &__title {
    display: none;
    padding: $common-padding/2 $common-padding;
    text-transform: capitalize;
    margin: $common-padding 0 $common-padding/2 0;
    cursor: pointer;
    width: 200px;
    text-align: left;
    color: $third-color;
    font: {
      size: 30px;
      family: $main-font;
    }

    @include large-screen {
      display: block;
    }
  }

  &__wrapper {
    max-width: 450px;
    margin: 0 auto;
    background-color: $menu-bg-color;
    padding: 0 $common-padding;
    display: none;

    &--visible {
      display: block;
    }

    @include large-screen {
      display: block;
    }
  }

  &__button {
    border: none;
    background-color: $secondary-color;
    border-radius: $border-radius;
    padding: $common-padding/2 $common-padding;
    margin-top: $common-padding;
    margin-bottom: $common-padding;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    font: {
      size: 18px;
      family: $main-font;
    }
    transition: 1s;

    &:hover {
      background-color: $main-color;
      color: white;
      border-color: $secondary-color;
    }
  }

  &__reset-button {
    border: none;
    background-color: $main-color;
    border-radius: $border-radius;
    padding: $common-padding/2 $common-padding;
    margin-top: $common-padding;
    margin-bottom: $common-padding;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    font: {
      size: 18px;
      family: $main-font;
    }
    transition: 1s;

    &:hover {
      background-color: $secondary-color;
      color: white;
      border-color: $secondary-color;
    }
  }
}