.footer {
  background-color: $third-color;
  padding: $common-padding;
  border-top: 1px solid $main-color;

  &__text {
    text-align: center;
    color: white;
    font: {
      family: $main-font;
      size: 14px;
    }
  }
}