.form {
  text-align: left;

  &__label {
    text-align: left;

    &--smaller {
      display: inline-block;
      width: 40%;
    }
  }

  &__select {
    position: relative;
    background-color: white;
    width: 100%;
    margin-bottom: $common-padding/2;
    padding: $common-padding/2;
    border: 1px solid $main-color;
    border-radius: $border-radius;
    outline: none;
    color: black;
    font: {
      family: $main-font;
      size: 20px;
    }
  }

  &__label-text {
    margin-top: $common-padding/2;
    margin-bottom: $common-padding/4;
    text-transform: capitalize;
    color: $third-color;
    font: {
      family: $main-font;
      size: 20px;
    }

    span {
      display: block;
    }
  }

  &__input {
    width: 100%;
    margin-bottom: $common-padding/2;
    padding: $common-padding/2;
    border: 1px solid $main-color;
    border-radius: $border-radius;
    outline: none;
    color: black;
    font: {
      family: $main-font;
      size: 20px;
    }

    &::placeholder {
      color: $input-color;
    }

    &--error {
      border-color: red;
    }
  }
}