.modal-box {
  @include z-index(modal-box);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $modal-box-bg-color;
  overflow: auto;
  text-align: center;

  &__content {
    @include z-index(modal-box);
    padding: $common-padding;
    max-width: 500px;
    background-color: white;
    border: 2px solid $main-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &--large {
      top: 0;
      transform: translate(-50%, 0);
    }
  }

  &__close-button {
    position: absolute;
    right: 8%;
    cursor: pointer;
  }

  &__text {
    text-transform: capitalize;
    margin-top: $common-padding*2;
    line-height: 1.7em;
    color: $main-color;
    font: {
      size: 19px;
      family: $main-font;
    }
  }

  &__shopping-button {
    border: none;
    background-color: $secondary-color;
    border-radius: $border-radius;
    padding: $common-padding/2 $common-padding;
    text-transform: uppercase;
    margin: $common-padding 0 $common-padding/2 0;
    cursor: pointer;
    outline: none;
    width: 224px;
    font: {
      size: 15px;
      family: $main-font;
    }
    transition: 1s;

    &:hover {
      background-color: $main-color;
      color: white;
      border-color: $third-color;
    }
  }

  &__basket-button {
    border: none;
    background-color: $third-color;
    border-radius: $border-radius;
    padding: $common-padding/2;
    margin-bottom: $common-padding;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    font: {
      size: 15px;
      family: $main-font;
    }
    transition: 1s;

    &:hover {
      background-color: $main-color;
      border-color: $secondary-color;

      .modal-box__basket-button-link {
        color: white;
      }
    }
  }

  &__basket-button-link {
    text-decoration: none;
    color: $text-color;
    padding: $common-padding/2 $common-padding;
    transition: 1s;
  }
}