.nav {
  position: relative;
  &:after {
    @include z-index(base);
    background-color: white;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__wrapper {
    @extend %container;
    @extend %clearfix;
  }

  &__logo {
    @include z-index(header);
    float: left;
    margin: $common-padding*1.5 0 $common-padding 0;
    text-transform: uppercase;
    color: $main-color;
    position: relative;
    font: {
      family: $main-font;
      weight: bold;
      size: 25px;
    }
  }

  &__button {
    @include z-index(header);
    float: right;
    margin: $common-padding;
    padding: $common-padding/2;
    background-color: $secondary-color;
    border-radius: $border-radius;
    color: white;
    border: none;
    outline: none;
    font-size: 17px;
    cursor: pointer;
    position: relative;

    &--active {
      background-color: $third-color;
    }
  }

  &__basket {
    @include z-index(header);
    float: right;
    position: relative;
    background: url("../images/images.png");
    background-size: cover;
    width: 70px;
    height: 70px;
    filter: hue-rotate(272deg);
    cursor: pointer;
  }

  &__basket-amount {
    position: relative;
    left: 46%;
    top: 50%;
    color: white;
  }

  &__menu {
    list-style-type: none;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background-color: $menu-bg-color;
    transform: translateY(-100%);
    transition: transform 1s;
  }

  &__menu-item {
    padding: $common-padding;
    cursor: pointer;
    transition: 1s;

    &--active {
      background-color: $secondary-color;

      .nav__menu-link {
        color: white;
      }
    }
  }

  &__menu-link {
    text-decoration: none;
    padding: $common-padding;
    text-transform: capitalize;
    color: $main-color;
    font: {
      family: $main-font;
      weight: 600;
    }

    &:hover {
      color: $third-color;
    }

    &--active:hover {
      color: white;
    }
  }
}

.visible {
  transform: translateY(80px);
}