.preview {
  @include z-index(preview);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $modal-box-bg-color;
  overflow: auto;
  text-align: center;
  justify-content: center;
  align-items: center;

  &__product-wrapper {
    text-align: left;
  }

  &__content {
    padding: $common-padding;
    width: 320px;
    background-color: white;
    border: 2px solid $main-color;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font: {
      family: $main-font;
    }
  }

  &__close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 20px;
  }

  &__next-button {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 30%;
    display: inline-block;
    height: 100%;
    text-align: right;

    i {
      color: $main-color;
      font-size: 20px;
      margin-right: 10px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__prev-button {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 30%;
    display: inline-block;
    height: 100%;
    text-align: left;

    i {
      color: $main-color;
      font-size: 20px;
      margin-left: 10px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__photo {
    max-width: 450px;
    margin-top: $common-padding;
    position: relative;
  }

  &__photo-item {
    width: 100%;
  }

  &__product-title {
    text-align: center;
    text-transform: uppercase;
    color: $main-color;
    font-size: 22px;
  }

  &__product-description {
    text-transform: capitalize;
    margin: $common-padding/2 0;
    color: $secondary-color;
    font-size: 18px;
  }

  &__product-description-text {
    font-size: 15px;
    margin: $common-padding/2 0;

    span {
      color: $secondary-color;
      text-transform: uppercase;
    }
  }

  &__product-fabric {
    font-size: 18px;
    color: $main-color;
    margin: $common-padding/2 0;

    span {
      color: $secondary-color;
      text-transform: capitalize;
    }
  }

  &__product-size {
    font-size: 18px;
    color: $main-color;
    margin: $common-padding/2 0;

    span {
      color: $secondary-color;
      text-transform: uppercase;
    }
  }

  &__product-price {
    font-size: 18px;
    color: $main-color;
    margin: $common-padding/2 0;

    span {
      color: $secondary-color;
      text-transform: capitalize;
    }
  }

  &__shopping-button {
    border: none;
    background-color: $secondary-color;
    border-radius: $border-radius;
    padding: $common-padding/2 $common-padding;
    margin-bottom: $common-padding;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    width: 205px;
    font: {
      size: 15px;
      family: $main-font;
    }
    transition: 1s;

    &:hover {
      background-color: $main-color;
      color: white;
      border-color: $third-color;
    }
  }

  &__basket-button {
    border: none;
    background-color: $third-color;
    border-radius: $border-radius;
    padding: $common-padding/2 $common-padding;
    margin: $common-padding/2 0;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    width: 205px;
    font: {
      size: 15px;
      family: $main-font;
    }
    transition: 1s;

    &:hover {
      background-color: $main-color;
      color: white;
      border-color: $secondary-color;
    }
  }
}