.price-range {
  text-align: center;
  margin-bottom: $common-padding/2;
  padding-top: $common-padding;

  &__title {
    text-align: left;
    text-transform: capitalize;
    border-bottom: 1px solid $main-color;
    margin-bottom: $common-padding;
    font: {
      size: 20px;
      family: $main-font;
    }

    @include large-screen {
      font-size: 18px;
    }
  }

  &__input {
    width: 70px;
    padding: $common-padding/4;
    margin-right: $common-padding/2;
    text-align: center;
    outline: none;
    border: 3px solid $secondary-color;
    border-radius: $border-radius;
    transition: $transition-duration;
    font: {
      size: 17px;
      family: $main-font;
    }

    &:hover {
      background-color: $main-color;
    }
  }
}