.products {
  padding: 0 $common-padding;

  &__item {
    max-width: 450px;
    text-align: center;
    font-size: 0;
  }

  &__photo {
    width: 100%;
    border: 1px solid $main-color;
    border-bottom: none;
  }

  &__title {
    text-transform: capitalize;
    color: $secondary-color;
    border: 1px solid $main-color;
    padding: $common-padding/2 0;
    border-top: none;
    font: {
      size: 20px;
      family: $main-font;
    }
  }

  &__size-label {
    text-transform: capitalize;
    color: $secondary-color;
    border: 1px solid $main-color;
    padding: $common-padding/2 0;
    border-top: none;
    font: {
      size: 20px;
      family: $main-font;
    }
  }

  &__size {
    text-transform: uppercase;
  }

  &__price-label {
    text-transform: uppercase;
    border: 1px solid $main-color;
    border-top: none;
    padding: $common-padding/2 0;
    font: {
      size: 17px;
      family: $main-font;
    }
  }

  &__button {
    border: none;
    background-color: $main-color;
    border-radius: $border-radius;
    padding: $common-padding/2 $common-padding;
    margin-top: $common-padding/2;
    margin-bottom: $common-padding*2;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    font: {
      size: 18px;
      family: $main-font;
    }
    transition: 1s;

    &:hover {
      background-color: $secondary-color;
      color: white;
      border-color: $secondary-color;
    }
  }

  &__not-found {
    display: none;
    text-align: center;
    text-transform: capitalize;
    color: $secondary-color;
    border: 1px solid $main-color;
    padding: $common-padding;
    margin-bottom: $common-padding*2;
    font: {
      size: 20px;
      family: $main-font;
    }
  }

}