.purchase-details {
  margin-top: $common-padding*2;

  &__main-text {
    margin-top: $common-padding;
    margin-bottom: $common-padding/2;
    text-transform: uppercase;
    color: $main-color;
    text-align: center;
    font: {
      size: 19px;
      family: $main-font;
      weight: bold;
    }
  }

  &__text {
    text-align: left;
    padding-top: $common-padding/2;
    font: {
      size: 17px;
      family: $main-font;
    }
  }

  &__contact-button {
    @extend %button;
    @extend %button-secondary;
    padding: $common-padding/4 $common-padding/2;
    font-size: 15px;
    margin-top: $common-padding;
    color: white;
  }

  &__home-button {
    @extend %button;
    @extend %button-third;
    @extend %button-medium;
  }

  &__go-back-button {
    @extend %button;
    @extend %button-secondary;
    @extend %button-medium;
    margin-top: $common-padding;
  }
}