.quote-part {
  background-color: $third-color;
  text-align: center;
  color: white;
  padding: $common-padding*2;

  @include large-screen {
    padding: $common-padding*4;
  }

  &__text {
    text-transform: uppercase;
    font: {
      family: $main-font;
      size: 20px;
    }

    &--different-color {
      color: $main-color;
      font-weight: bold;
    }
  }
}