.shipping-address {
  //display: none;
  margin-bottom: $common-padding*2;
  padding: $common-padding*2;
  text-align: center;
  background-color: $menu-bg-color;

  @include large-screen {
    display: inline-block;
    vertical-align: middle;
    max-width: 45%;
    margin-top: $common-padding * 2;
    padding-top: $common-padding;
    text-align: right;
    margin-left: $common-padding*2;
    background-color: $menu-bg-color;
    word-break: break-all;
  }

  &__title {
    font: {
      family: $main-font;
      size: 20px;
      weight: bold;
    }
    color: $third-color;
    text-transform: capitalize;
    margin-bottom: $common-padding;
    text-align: left;

    @include large-screen {
      text-align: right;
    }
  }

  &__address {
    margin-bottom: $common-padding;
    text-transform: capitalize;
    line-height: $line-height;
    text-align: left;
    color: $text-color;
    font: {
      family: $main-font;
      size: 20px;
    }

    @include large-screen {
      text-align: right;
    }
  }

  &__email {
    text-transform: lowercase;
  }

  &__edit-button {
    @extend %button;
    padding: $common-padding/4 $common-padding;
    margin-top: $common-padding/2;
  }

  &__go-back-button {
    @extend %button;
    @extend %button-secondary;
    @extend %button-medium;
    @extend %hover-alternative;
    text-align: center;
  }

  &__buy-button {
    @extend %button;
    @extend %button-medium;
    @extend %hover-alternative;
  }
}