.shipping-address {
  display: none;
  margin-bottom: $common-padding*2;
  padding: 0 $common-padding;
  text-align: center;

  &__title {
    font: {
      family: $main-font;
      size: 20px;
      weight: bold;
    }
    color: $third-color;
    text-transform: capitalize;
    margin-bottom: $common-padding;
    text-align: left;
  }

  &__address {
    text-transform: capitalize;
    line-height: $line-height;
    text-align: left;
    color: $text-color;
    background-color: $menu-bg-color;
    font: {
      family: $main-font;
      size: 20px;
    }
  }

  &__email {
    text-transform: lowercase;
  }

  &__edit-button {
    border: none;
    background-color: $main-color;
    border-radius: $border-radius;
    margin-top: $common-padding/2;
    padding: $common-padding/4 $common-padding;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    font: {
      size: 15px;
      family: $main-font;
    }
    transition: 1s;

    &:hover {
      background-color: $secondary-color;
      color: white;
      border-color: $secondary-color;
    }
  }

  &__go-back-button {
    border: none;
    background-color: $secondary-color;
    border-radius: $border-radius;
    padding: $common-padding/2;
    margin: $common-padding*2 auto $common-padding/2 auto;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    font: {
      size: 15px;
      family: $main-font;
    }
    transition: 1s;

    &:hover {
      background-color: $third-color;

      .shipping-address__go-back-button-link {
        color: white;
      }
    }
  }

  &__go-back-button-link {
    text-decoration: none;
    color: $text-color;
    padding: $common-padding/2 $common-padding*2;
    transition: 1s;
  }

  &__buy-button {
    border: none;
    background-color: $main-color;
    border-radius: $border-radius;
    padding: $common-padding/2 $common-padding;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    width: 204px;
    font: {
      size: 15px;
      family: $main-font;
    }
    transition: 1s;

    &:hover {
      background-color: $third-color;
      color: white;
    }
  }
}