.shopping-list {
  @extend %container;
  text-align: center;
  margin-top: $common-padding * 2;
  margin-bottom: $common-padding;
  padding: $common-padding;

  &--form {
    @include large-screen {
      display: inline-block;
      max-width: 49%;
      vertical-align: middle;
    }
  }

  &__title {
    font: {
      family: $main-font;
      size: 30px;
      weight: bold;
    }
    color: $third-color;
    text-transform: uppercase;
    margin-bottom: $common-padding *2;
  }

  &__wrapper {
    border-bottom: 1px solid $main-color;
    padding-bottom: $common-padding;
    font: {
      size: 0;
      family: $main-font;
    }
  }

  &__headings {
    border-bottom: 1px solid $main-color;
    padding-bottom: $common-padding;
    font: {
      family: $main-font;
      size: 0;
    }
  }

  &__empty-basket {
    display: none;
    color: $third-color;
    text-transform: capitalize;
    margin-top: $common-padding;
    font: {
      family: $main-font;
      size: 20px;
      weight: bold;
    }
  }

  &__product-wrapper {
    margin-top: $common-padding*2;
    position: relative;
  }

  &__product-photo {
    display: inline-block;
    width: 37%;
    vertical-align: middle;
  }

  &__product-amount,
  &__product-price,
  &__product-size {
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
    width: 21%;
    text-transform: uppercase;
  }

  &__product-heading,
  &__amount-heading,
  &__price-heading,
  &__size-heading {
    display: inline-block;
    width: 21%;
    font-size: 17px;
  }

  &__product-heading {
    width: 37%;
  }

  &__delivery {
    display: inline-block;
    text-align: left;
    width: 60%;
    font-size: 18px;
    margin-top: $common-padding;
    color: $secondary-color;
    text-transform: capitalize;
  }

  &__product-total-price {
    display: inline-block;
    width: 40%;
    text-align: center;
    font-size: 18px;
    margin-top: $common-padding*2;
    color: $main-color;
  }

  &__product-amount {
    font-size: 20px;

    span {
      display: inline-block;
      vertical-align: top;
      margin-top: $common-padding/2;
      margin-right: $common-padding;

    }
  }

  &__buttons-wrapper {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    padding-left: $common-padding/4;
  }

  &__delete-button {
    border: none;
    outline: none;
    background-color: $third-color;
    text-transform: uppercase;
    color: white;
    padding: $common-padding/5 $common-padding/4;
    position: absolute;
    left: 0;
    bottom: 0;
    cursor: pointer;
    font-size: 12px;
  }

  &__shopping-button {
    display: inline-block;
    border: none;
    background-color: $secondary-color;
    border-radius: $border-radius;
    padding: $common-padding/2;
    margin: $common-padding*2 auto $common-padding/2 auto;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    font: {
      size: 15px;
      family: $main-font;
    }
    transition: 1s;

    &:hover {
      background-color: $third-color;

      .shopping-list__shopping-button-link {
        color: white;
      }
    }
  }

  &__shopping-button-link {
    text-decoration: none;
    color: $text-color;
    padding: $common-padding/2 $common-padding;
    transition: 1s;
  }

  &__buy-button {
    display: inline-block;
    border: none;
    background-color: $main-color;
    border-radius: $border-radius;
    padding: $common-padding/2;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    font: {
      size: 15px;
      family: $main-font;
    }
    transition: 1s;

    &:hover {
      background-color: $third-color;

      .shopping-list__buy-button-link {
        color: white;
      }
    }
  }

  &__buy-button-link {
    text-decoration: none;
    color: $text-color;
    padding: $common-padding/2 $common-padding*4;
    transition: 1s;
  }

}