.sizes {
  text-align: center;
  position: relative;

  &__title {
    text-align: left;
    text-transform: capitalize;
    border-bottom: 1px solid $main-color;
    margin-bottom: $common-padding;
    font: {
      size: 20px;
      family: $main-font;
    }

    @include large-screen {
      font-size: 18px;
    }
  }

  &__input {
    position: absolute;
    opacity: 0;

    &:checked + .sizes__input-label {
      color: $main-color;
    }
  }

  &__input-label {
    color: $secondary-color;
    text-transform: uppercase;
    margin-right: $common-padding/2;
    cursor: pointer;
    font: {
      family: $main-font;
      size: 20px;
      weight: bold;
    }
  }
}