.sizes {
  text-align: center;
  position: relative;

  &__title {
    text-align: left;
    text-transform: capitalize;
    border-bottom: 1px solid $main-color;
    margin-bottom: $common-padding;
    font: {
      size: 20px;
      family: $main-font;
    }
  }

  &__input {
    width: 40px;
    cursor: pointer;

    &:before {
      position: absolute;
      content: '';
      width: 40px;
      height: 40px;
      background-color: $menu-bg-color;
    }

    &:checked {
      &:after {
        color: $main-color;
        font-size: 25px;
      }
    }

    &:after {
      position: relative;
      width: 40px;
      height: 40px;
      top: 25%;
      left: 25%;
      color: $secondary-color;
      font: {
        size: 20px;
        family: $main-font;
        weight: bold;
      }
    }

    &[name='xs'] {
      &:after {
        content: 'XS';
      }
    }

    &[name='s'] {
      &:after {
        content: 'S';
      }
    }

    &[name='m'] {
      &:after {
        content: 'M';
      }
    }

    &[name='l'] {
      &:after {
        content: 'L';
      }
    }
  }
}