.slider {
  text-align: center;
  margin-top: $common-padding * 2;
  margin-bottom: $common-padding*3;

  &__wrapper {
    min-height: 350px;
    overflow: hidden;
  }

  &__title {
    font: {
      family: $main-font;
      size: 30px;
      weight: bold;
    }
    color: $third-color;
    text-transform: uppercase;
    margin-bottom: $common-padding *2;
  }

  &__items {
    max-width: 450px;
    margin: 0 auto;
    position: relative;
  }

  &__slide {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    &--active {
      opacity: 1;
    }
  }

  &__dots {
    position: relative;
    top: 0;
    margin-top: $common-padding;
  }

  &__dot {
    @include remove-shadow;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: $main-color;
    border-radius: 50%;
    margin-right: $common-padding/4;
    cursor: pointer;

    &--active {
      background-color: $third-color;
    }
  }

  &__button {
    @include remove-shadow;
    position: relative;
    top: 0;
    border: 3px solid $secondary-color;
    background-color: white;
    padding: $common-padding/2 $common-padding;
    text-transform: uppercase;
    margin-top: $common-padding;
    cursor: pointer;
    outline: none;
    font: {
      size: 18px;
      family: $main-font;
    }
    transition: 1s;

    &:hover {
      background-color: $third-color;
      border-color: $third-color;

      .slider__button-link {
        color: white;
      }
    }
  }

  &__button-link {
    text-decoration: none;
    color: black;
    transition: 1s;
    padding: $common-padding/2 0;
  }
}