.social-links {
  background-color: $third-color;
  text-align: center;
  padding: $common-padding 0;

  &__item {
    display: inline-block;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: relative;
    vertical-align: middle;
    transition: 1s;

    &:hover {
      background-color: $main-color;

      .social-links__link {
        color: white;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: $main-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: $common-padding/2;
    cursor: pointer;
    transition: 1s;
    font-size: 20px;
  }
}